.home-page{

    width: 90vw;
    min-height: 70vh;
    // background-color: coral;
    
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    .settings{

    }

    .logo{
        // background-color: deeppink;
        width: 200px;
        height: 100px;
        margin: 20px auto;
    }
    .search-form{
        // background-color: darkblue;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin :0;

        .text-box{
            width: 60%;
            margin: 0 15px 0 0;
        }
        .button{
            min-width: 27%;
        }        
    }
    .amount{        
        width: 50%;
        margin: 0 auto 5px;
    }
    .country-list{
        display: flex;
        flex-direction: column;

        padding: 5px;
    }
}